<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/form-stylesheet.css}" rel="stylesheet"/>

    <title>Global Superstore</title>
</head>
<body> 
    <div class="topnav">
        <a class="active" th:href="@{/}">Form</a> 
        <a th:href="@{/inventory}">Inventory</a>
    </div>
    <div class="container">
        <br><br><br><br>
        <h2>Global Superstore</h2>
        
        <form method="post">
            <select class="select">
                <option style="color:blue" value="">Choose Category</option>
                <option th:each="category:${categories}" th:text="*{category}" th:value="*{category}"> </option>
            </select>
            <input type="text" placeholder="Name">
            <input class="half" type="text" placeholder="Price">
            <input class="half" type="text" placeholder="Discount">
            <h4>Order date</h4>
            <input type="date" style="color:black">
            <input type="submit" value="Submit Item">
        </form>
    
    </div>
</body>
</html>