<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utility Method Example</title>
</head>
<body>
    <p style="font-weight:bold" th:text="${name}"></p>
    <ul>
        <li th:text="${#strings.substring(name,0,1)}"></li>
        <li th:text="${#strings.substring(name,0,2)}"></li>
        <li th:text="${#strings.substring(name,0,3)}"></li>
        <li th:text="${#strings.substring(name,0,4)}"></li>
        <li th:text="${#strings.substring(name,0,5)}"></li>
    </ul>
</body>
</html>