<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
</head>
<body>
    <h1>Staff List</h1>
    <table border="solid" width=100%>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Role</th>
        </tr>

        <tr th:each="employee:${employeeList}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.age}"></td>
            <td th:text="${employee.role}"></td>
        </tr>
    </table>
</body>
</html>